.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background:darksalmon;
}
.Textchange{
font-size: 20px;
color: gold;
}


.Sree {
  text-align: right;
}
.tweet {
  text-align: left;
  border: 2px solid black;
  width: 200px;
  height: 250px;
  background: #61dafb;
  display:flex;
  flex-direction: column;
  }